<template>

    <form id="createContact" action="http://localhost:8000/company/search/create-message" method="POST" novalidate="novalidate">
        <input type="hidden" name="_token" value="3NtJnriCjQHQ8JegZyefO6sGubFoSDSQCCkYn5lq">
            <div class="modal fade show" id="showContact" tabindex="-1" aria-labelledby="exampleModalLabel" aria-modal="true" role="dialog" style="display: block;">
                <div class="modal-dialog modal-dialog-contact modal-dialog-centered modal-h040">
                    <div class="modal-content position-relative parent-loader-container">
                            <span class="close-icon-modal position-absolute cursor-pointer close-contact-js" data-bs-dismiss="modal">
                                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                                    <path id="Icon_material-close" data-name="Icon material-close" d="M25.5,9.313,23.687,7.5,16.5,14.687,9.313,7.5,7.5,9.313,14.687,16.5,7.5,23.687,9.313,25.5,16.5,18.313,23.687,25.5,25.5,23.687,18.313,16.5Z" transform="translate(-7.5 -7.5)" fill="#343a40"></path>
                                </svg>
                            </span>
                        <div class="modal-header-contact d-flex justify-content-center">
                            <h5 class="modal-title">運営からの通知</h5>
                        </div>
                        <div class="modal-body-contact">
                            <div class="contact row">
                                <div class="purpose-contact d-flex  col-md-12">
                                    <div class="wp-label col-md-4">
                                        <label for="" class="purpose-contact__text">通知テンプレート名</label>
                                    </div>
                                    <div class="wrap-slb-purpose-contact col-md-6 select-wrap-error">
                                        <select id="contact_purpose_id" class="purpose-contact__select select2-hidden-accessible" name="contact_purpose_id" onchange="changeValidateSelect(this)" data-select2-id="select2-data-contact_purpose_id" tabindex="-1" aria-hidden="true">
                                            <option data-select2-id="select2-data-2-z2jx"></option>
                                            <option value="dc5fe550-d65b-11ec-96d2-d9577ef2e006">宮沢 里佳 0</option>
                                            <option value="dc61b470-d65b-11ec-b911-5ba9b102326c">渚 直子 1</option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-1-qlep" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-contact_purpose_id-container" aria-controls="select2-contact_purpose_id-container"><span class="select2-selection__rendered" id="select2-contact_purpose_id-container" role="textbox" aria-readonly="true" title="通知テンプレートを選択してください"><span class="select2-selection__placeholder">通知テンプレートを選択してください</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                                <div class="purpose-contact d-flex  col-md-12">
                                    <div class="wp-label col-md-4">
                                        <label for="" class="purpose-contact__text">通知種類</label>
                                    </div>
                                    <div class="wrap-slb-purpose-contact col-md-6 select-wrap-error">
                                        <select id="template_message_id" class="purpose-contact__select select2-hidden-accessible" name="template_message_id" onchange="changeValidateSelect(this)" data-select2-id="select2-data-contact_purpose_id" tabindex="-1" aria-hidden="true">
                                            <option data-select2-id="select2-data-2-z2jx" v-for="notice in listnotices" :key="notice.id"></option>
                                        </select><span class="select2 select2-container select2-container--default" dir="ltr" data-select2-id="select2-data-1-qlep" style="width: auto;"><span class="selection"><span class="select2-selection select2-selection--single" role="combobox" aria-haspopup="true" aria-expanded="false" tabindex="0" aria-disabled="false" aria-labelledby="select2-contact_purpose_id-container" aria-controls="select2-contact_purpose_id-container"><span class="select2-selection__rendered" id="select2-contact_purpose_id-container" role="textbox" aria-readonly="true" title="選択してください"><span class="select2-selection__placeholder">選択してください</span></span><span class="select2-selection__arrow" role="presentation"><b role="presentation"></b></span></span></span><span class="dropdown-wrapper" aria-hidden="true"></span></span>
                                    </div>
                                </div>
                                <div class="message-wrap d-flex  col-md-12">
                                    <div class="wp-label col-md-4">
                                        <label for="" class="message__text">通知テンプレート</label>
                                    </div>
                                    <div class="wrap-slb-purpose-contact col-md-6">
                                        <textarea name="contact_message" id="" cols="30" rows="10" class="form-control" placeholder="" autocomplete="off"></textarea>
                                    </div>
                                </div>
                                <div class="purpose-contact d-flex  col-md-12">
                                    <div class="wp-label col-md-4">
                                        <label for="" class="purpose-contact__text">通知日時</label>
                                    </div>
                                    <div class="wrap-slb-purpose-contact col-md-6 select-wrap-error">
                                        <div class="input-wrap">
                                            <input type="text" autocomplete="off" name="scheduled_start_date" id="scheduled_start_date" placeholder="" value="" class="form-control datepicker scheduled-start-date-js">
                                        </div>
                                        <div class="input-wrap">
                                            <input type="text" autocomplete="off" id="scheduled_end_date" name="scheduled_end_date" placeholder="" value="" class="form-control datepicker scheduled-end-date-js">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="btn-wrap d-flex justify-content-between">
                            <button class="cancel__btn btn cancel__btn-js" data-bs-dismiss="modal" aria-label="Close">キャンセルする</button>
                            <button type="submit" class="contact__btn btn"> メッセージを通知する</button>
                        </div>
                    </div>
                </div>
            </div>
        <input type="hidden" name="destination_company_id" value="gI9RRwZz-hJWE-HKj0-L78V-mg6qcpyTSSg4">
    </form>

</template>

<script>
    export default {
        mounted() {
            console.log('Component mounted.')
        },
        methods: {
            async getListnotices() {
                try {
                    const response = await axios.get('/notify')
                    this.listnotices = response.data
                } catch (error) {
                    this.error = error.response.data
                }

            }
        },
    }
</script>